<section id="banner">
    <header>
        <h2>{{ .contents | markdownify }}</h2>
        <!-- <h2>{{ now.Format "Mon, 02 Jan 2006 15:04:05 MST" }}</h2> -->
        <!-- <h2>{{ now.Format "02/01/2006" }}</h2> -->
        {{ $panchangam := site.Data.panchangam }}
        {{ $todayDate := now.Format "02/01/2006"}}
          {{ range $panchangam }}
            {{ if eq .Date $todayDate }}
              Date : {{ .Date }}
              Day : {{ .Day }}
              Tithi : {{ .Tithi }}
              Nakshatram : {{ .Nakshatram }}
              Yogam : {{ .Yogam }}
              Rahu : {{ .Rahu }}
              Yama : {{ .Yama }}
              Guli : {{ .Guli }}
            {{ end }}
          {{ end }}
        {{- if .button }}
            <a href="{{ .button.url }}" class="button">{{ .button.contents }}</a>
        {{- end }}
    </header>
</section>
